# RaspiBolt: systemd unit for System Info panel generation
# /etc/systemd/system/image-sysinfo.service

[Unit]
Description=Image Display Slideshow to Framebuffer

[Service]
WorkingDirectory=/home/bitcoin/nodeyez/scripts
ExecStart=/home/bitcoin/nodeyez/scripts/slideshow.sh
User=root

# Restart on failure but not more than 2 times every 10 minutes (600 seconds). Otherwise stop
Restart=on-failure
StartLimitIntervalSec=600
StartLimitBurst=2

[Install]
WantedBy=multi-user.target
