# Nodeyez: systemd unit for F2 Pool Mining Summary panel generation
# /etc/systemd/system/nodeyez-f2pool.service

[Unit]
Description=F2 Pool Mining Summary
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
EnvironmentFile=/etc/nodeyez.conf
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/home/nodeyez/.pyenv/nodeyez/bin/python3 /home/nodeyez/nodeyez/scripts/f2pool.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
