# Nodeyez: systemd unit for Art Hash Dungeon panel generation
# A generative visual maze created with bitcoin themed logos
# and tileable art derived from the Bitcoin Blockhash of the
# referened block (Dungeon Level) deterministically
# /etc/systemd/system/nodeyez-blockhashdungeon.service

[Unit]
Description=Retro style dungeon maze based on block hash
StartLimitIntervalSec=600
StartLimitBurst=2
Wants=bitcoind.service
After=bitcoind.service

[Service]
EnvironmentFile=/etc/nodeyez.conf
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStartPre=/bin/sh -c '/bin/cp /home/bitcoin/.bitcoin/.cookie /home/nodeyez/.bitcoin/ 2>/dev/null || exit 0'
ExecStartPre=/bin/sh -c '/bin/chown -R nodeyez:nodeyez /home/nodeyez/.bitcoin 2>/dev/null || exit 0'
ExecStart=/home/nodeyez/.pyenv/nodeyez/bin/python3 /home/nodeyez/nodeyez/scripts/blockhashdungeon.py
User=nodeyez
Restart=on-failure
RestartSec=30
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
