# RaspiBolt: systemd unit for Miner Status panel generation
# /etc/systemd/system/nodeyez-minerstatus.service

[Unit]
Description=Image for Miner Status
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
WorkingDirectory=/home/bitcoin/nodeyez/scripts
ExecStart=/home/bitcoin/nodeyez/scripts/minerstatus.py
User=bitcoin
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
