# Nodeyez: systemd unit for Fiat Price panel generation
# /etc/systemd/system/nodeyez-fiatprice.service

[Unit]
Description=Fiat Price of Bitcoin
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
EnvironmentFile=/etc/nodeyez.conf
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/home/nodeyez/.pyenv/nodeyez/bin/python3 /home/nodeyez/nodeyez/scripts/fiatprice.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
