# Nodeyez: systemd unit for Ring of Fire Status panel generation
# /etc/systemd/system/nodeyez-rofstatus.service

[Unit]
Description=Nodeyez image generator for Lightning Ring of Fire Status
StartLimitIntervalSec=600
StartLimitBurst=2
Wants=lnd.service
After=lnd.service

[Service]
EnvironmentFile=/etc/nodeyez.conf
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/home/nodeyez/.pyenv/nodeyez/bin/python3 /home/nodeyez/nodeyez/scripts/rofstatus.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
