# Nodeyez: systemd unit for Miner Braiins panel generation
# /etc/systemd/system/nodeyez-minerbraiins.service

[Unit]
Description=Image for Miner Status running Braiins
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/home/nodeyez/nodeyez/scripts/minerbraiins.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
