# Nodeyez: systemd unit for running the daily data retrieval
# /etc/systemd/system/nodeyez-daily-data-retrieval.service

[Unit]
Description=Background data retrieval
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
EnvironmentFile=/etc/nodeyez.conf
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/home/nodeyez/.pyenv/nodeyez/bin/python3 /home/nodeyez/nodeyez/scripts/daily-data-retrieval.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
