# Nodeyez: systemd unit for Inscription Mempool panel generation
# /etc/systemd/system/nodeyez-inscriptionmempool.service

[Unit]
Description=Recent inscriptions in local mempool
StartLimitIntervalSec=600
StartLimitBurst=2
Wants=bitcoind.service
After=bitcoind.service

[Service]
EnvironmentFile=/etc/nodeyez.conf
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStartPre=/bin/cp /home/bitcoin/.bitcoin/.cookie /home/nodeyez/.bitcoin/.cookie
ExecStartPre=/bin/chown nodeyez:nodeyez /home/nodeyez/.bitcoin/.cookie
ExecStart=/home/nodeyez/.pyenv/nodeyez/bin/python3 /home/nodeyez/nodeyez/scripts/inscriptionmempool.py
User=nodeyez
Restart=on-failure
RestartSec=30
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
