# Nodeyez: systemd unit for Compass Mining Status panel generation
# /etc/systemd/system/nodeyez-compassminingstatus.service

[Unit]
Description=Image for Compass Mining Status
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/home/nodeyez/nodeyez/scripts/compassminingstatus.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
