# Nodeyez: systemd unit for Gas Price panel generation
# /etc/systemd/system/nodeyez-gasprice.service

[Unit]
Description=Image for Gas Price
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/home/nodeyez/nodeyez/scripts/gasprice.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
