# Nodeyez: systemd unit for starting the Nodeyez Slideshow
# /etc/systemd/system/nodeyez-slideshow.service

[Unit]
Description=Nodeyez Slideshow Runner
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
EnvironmentFile=/etc/nodeyez.conf
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/usr/bin/env bash /home/nodeyez/nodeyez/scripts/slideshow.sh
User=root
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
