# Nodeyez: systemd unit for Difficulty Epoch panel generation
# /etc/systemd/system/nodeyez-difficultyepoch.service

[Unit]
Description=Image for Difficulty Epoch
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
WorkingDirectory=/home/bitcoin/nodeyez/scripts
ExecStart=/home/bitcoin/nodeyez/scripts/difficultyepoch.py
User=bitcoin
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
