# Nodeyez: systemd unit for Sats per USD panel generation
# /etc/systemd/system/nodeyez-satsperusd.service

[Unit]
Description=Image for Sats per USD
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/home/nodeyez/nodeyez/scripts/satsperusd.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
