# Nodeyez: systemd unit for Art Hash panel generation
# /etc/systemd/system/nodeyez-arthash.service

[Unit]
Description=Nodeyez image generator for Artwork from Blockhash
StartLimitIntervalSec=600
StartLimitBurst=2
Wants=bitcoind.service
After=bitcoind.service

[Service]
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStartPre=/bin/cp /home/bitcoin/.bitcoin/.cookie /home/nodeyez/.bitcoin/.cookie
ExecStartPre=/bin/chown nodeyez:nodeyez /home/nodeyez/.bitcoin/.cookie
ExecStart=/home/nodeyez/.pyenv/nodeyez/bin/python3 /home/nodeyez/nodeyez/scripts/arthash.py
User=nodeyez
Restart=on-failure
RestartSec=30
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
