# Nodeyez: systemd unit for Miner MicroBT panel generation
# /etc/systemd/system/nodeyez-minerbraiins.service

[Unit]
Description=Miner Status for Whatsminer models
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
EnvironmentFile=/etc/nodeyez.conf
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/home/nodeyez/.pyenv/nodeyez/bin/python3 /home/nodeyez/nodeyez/scripts/minermicrobt.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
