# Nodeyez: systemd unit for Block Height panel generation
# /etc/systemd/system/nodeyez-blockheight.service

[Unit]
Description=Nodeyez image generator for Block Height
StartLimitIntervalSec=600
StartLimitBurst=2
Wants=bitcoind.service
After=bitcoind.service

[Service]
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/usr/bin/env python3 /home/nodeyez/nodeyez/scripts/blockheight.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
