# Nodeyez: systemd unit for System Info panel generation
# /etc/systemd/system/nodeyez-sysinfo.service

[Unit]
Description=Temperature, Storage Space, CPU and Memory Utilization
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
EnvironmentFile=/etc/nodeyez.conf
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/home/nodeyez/.pyenv/nodeyez/bin/python3 /home/nodeyez/nodeyez/scripts/sysinfo.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
