# Nodeyez: systemd unit for Fear and Greed Index panel generation
# /etc/systemd/system/nodeyez-fearandgreed.service

[Unit]
Description=Nodeyez image generator for Fear and Greed Index
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/usr/bin/env python3 /home/nodeyez/nodeyez/scripts/fearandgreed.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
