# Nodeyez: systemd unit for Compass Mining Status panel generation
# /etc/systemd/system/nodeyez-compassminingstatus.service

[Unit]
Description=(Deprecated)Compass Mining facility status summary
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
EnvironmentFile=/etc/nodeyez.conf
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/home/nodeyez/.pyenv/nodeyez/bin/python3 /home/nodeyez/nodeyez/scripts/compassminingstatus.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
