# Nodeyez: systemd unit for Compass Mining Hardware panel generation
# /etc/systemd/system/nodeyez-compassmininghardware.service

[Unit]
Description=(Deprecated)Compass Mining miners for sale quad (low price, high hash, cheap hash, efficient hash)
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
EnvironmentFile=/etc/nodeyez.conf
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/home/nodeyez/.pyenv/nodeyez/bin/python3 /home/nodeyez/nodeyez/scripts/compassmininghardware.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
