# Nodeyez: systemd unit for Difficulty Epoch panel generation
# /etc/systemd/system/nodeyez-difficultyepoch.service

[Unit]
Description=Nodeyez image generator for Difficulty Epoch
StartLimitIntervalSec=600
StartLimitBurst=2
Wants=bitcoind.service
After=bitcoind.service

[Service]
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/usr/bin/env python3 /home/nodeyez/nodeyez/scripts/difficultyepoch.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
