# Nodeyez: systemd unit for Ring of Fire Status panel generation
# /etc/systemd/system/nodeyez-rofstatus.service

[Unit]
Description=Image(s) for Ring of Fire Status
StartLimitIntervalSec=600
StartLimitBurst=2
Wants=lnd.service
After=lnd.service

[Service]
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/home/nodeyez/nodeyez/scripts/rofstatus.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
