# Nodeyez: systemd unit for LND Hub Account Balances Pool panel generation
# /etc/systemd/system/nodeyez-lndhub.service

[Unit]
Description=LND Hub Account Balances
StartLimitIntervalSec=600
StartLimitBurst=2

[Service]
EnvironmentFile=/etc/nodeyez.conf
WorkingDirectory=/home/nodeyez/nodeyez/scripts
ExecStart=/home/nodeyez/.pyenv/nodeyez/bin/python3 /home/nodeyez/nodeyez/scripts/lndhub.py
User=nodeyez
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
