    <!-- Mash controller -->
    <script>
    window.MashSettings = {
      id: "a5c0d053-92ec-4b89-b7e4-fb089ab9b051"
    };
    var loader = function () {
      window.Mash.init();
    };
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.defer = true;
    script.onload = loader;
    script.src = "https://wallet.getmash.com/sdk/sdk.js";
    var head = document.getElementsByTagName("head")[0];
    head.appendChild(script);
    </script>

    <!-- sliders from blog.logrocket.com/build-image-carousel-from-scratch-vanilla-javascript/  -->
    <style>
    .slider { width: 100%; max-with: 600px; height: 400px; position: relative; overflow: hidden; border-radius: 15px; }
    .slide { width: 100%; max-width: 600px; height: auto; zzheight: 400px; position: absolute; transition: all 0.5s; }
    .slide img { width: 100%; height: auto; object-fit: cover; zzheight: 100% }
    .btn { position: absolute; width: 40px; height: 40px; padding: 10px; border: none; border-radius: 50%; z-index: 10px; cursor: pointer; background-color: #fc0; font-size: 18px; }
    .btn:active { transform: scale(1.1); }
    .btn-prev { top: 45%; left: 2%; }
    .btn-next { top: 45%; right: 2%; }
    </style>
    <script>
    function setupSliders() {
      const slides = document.querySelectorAll(".slide");
      slides.forEach((slide, indx) => { slide.style.transform = `translateX(${indx * 100}%)`; });
      let curSlide = 0;
      let maxSlide = slides.length - 1;
      const nextSlide = document.querySelector(".btn-next");
      nextSlide.addEventListener("click", function() {
        if(curSlide === maxSlide) {curSlide=0;} else {curSlide++;};
        slides.forEach((slide, indx) => {
          slide.style.transform = `translateX(${100 * (indx - curSlide)}%)`;
        });
      });
      const prevSlide = document.querySelector(".btn-prev");
      prevSlide.addEventListener("click", function() {
        if(curSlide === 0) {curSlide=maxSlide;} else {curSlide--;};
        slides.forEach((slide, indx) => {
          slide.style.transform = `translateX(${100 * (indx - curSlide)}%)`;
        });
      });
    }
    window.addEventListener('load', setupSliders);
    </script>

    <!-- header image colorize to #FFCC00 using codepen https://codepen.io/sosuke/pen/Pjoqqp -->
    <style>
    .header-image-color {
      max-width: calc(100%);
      height: auto;
      filter: brightness(0) saturate(100%) invert(69%) sepia(96%) saturate(488%) hue-rotate(357deg) brightness(100%) contrast(106%);
    }
    </style>
